body{
    background-color: rgb(194, 221, 249);
      }
#myimage {
       width: 150px;
       height: 150px;
       border-radius: 50%;
        }
#button{
       background-color: rgb(43, 48, 202);
       color: aliceblue ;
      }
#form{
        text-align: left;
        
      }
h1{
        background-color: rgb(33, 28, 37);
        text-align: center;
        color: aliceblue;
      }
.box{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        background-color: rgb(14, 9, 18);
    }
table{
        color: rgb(241, 244, 248);
        border: 2px solid;
        
}
th {
    background-color: blue;
    text-align: center;  
    
}
td{
    background-color: grey;
}
    
#h21{
        color:rgb(3, 18, 76);
    }
#p1{
        color: rgb(24, 38, 38);
    }
p{
        text-align: center;
    }
h1 , h2{
        text-align: center;
     }
#img{
    text-align: center;
}
#table{
    display: flex;
    justify-content: center

}
#form{
    display:flex;
    justify-content:space-evenly;
    align-content: center;
    margin-bottom: 20px;
    
}
#project{
    display: flex;
    justify-content: center;
}
.span{
    margin-right: 50px;
    background-color: aliceblue;
    border-color: black;
    border: 2px solid;
    padding: 20px;
}
.span2{
    margin-right: 50px;
    background-color: aliceblue;
    border-color: black;
    border: 2px solid;
    padding: 20px;
}
